header {
  font-family: Oswald, sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 55px;
  margin: 70px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h1 {
  font-family: Oswald, sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 20em;
  min-width: 300px;
  margin: 50px auto 0px auto;
  letter-spacing: 1px;
  text-transform: uppercase;
}

body {
  background: #f85855;
}



/*.win-img {
  max-width: 500px; 
  height: auto; 
  text-align: center;
  display: none;*/
  /*padding: 0px auto 0px auto;
  margin: 20px auto 0px auto;*/



.winner {
  display: none;
  -webkit-animation-name: winner;
  -webkit-animation-duration: .5s;
  animation-name: winner;
  animation-duration: .5s;
  animation-iteration-count: infinite;
}
 


@-webkit-keyframes winner {
  0% {color: white;}
  50% {color: black;}
}

@keyframes winner {
  0% {color: white;}
  50% {color: black;}
}

#result {
  font-family: Oswald, sans-serif;
  text-align: center;
  font-weight: none;
  font-size: 25px;
  margin-bottom: 30px;
  letter-spacing: 1px;
}


input, button {
  margin: 0 auto 30px auto;
}

input[id="numerical-guess"]{
  padding-left: 20px;
  padding-right: 20px;
  font-family: Lato, sans-serif;
  text-align: center;
  font-size: 16px;
  width: 210px;
  height: 50px;
  border-radius: 40px;
  border: 1px #e7514e;
  display: block;
}

.guess-btn {
  color: white;
  font-family: Oswald, sans-serif;
  font-weight: lighter;
  letter-spacing: 2px;
  font-size: 18px;
  padding: 15px 10px 15px 10px;
  width: 250px;
  background: black;
  border: 0px;
  height: 60px;
  cursor: pointer;
  display: block;
}

.guess-btn:hover {
  background-color: transparent;
  border: 2px solid #000000;
  color: black;
}

.play-again-btn {
  color: white;
  font-family: Oswald, sans-serif;
  font-weight: lighter;
  letter-spacing: 2px;
  font-size: 18px;
  padding: 15px 10px 15px 10px;
  width: 250px;
  background: black;
  border: none;
  height: 60px;
  cursor: pointer;
  display: block;
}

.play-again-btn:hover {
  background-color: transparent;
  border: 2px solid #000000;
  color: black;
}

.hint {
  background-color: transparent;
  border: 0px;
  text-align: center;
  font-family: Lato, sans-serif;
  font-size: 16px;
  display: block;
  color: #ffffff;
  letter-spacing: 2px;
  margin-bottom: 0px;
  cursor: pointer;
}

.hintMessage {
  font-family: Lato, sans-serif;
  font-size: 12px;
  color: #aa2621;
  letter-spacing: 2px;
  text-align: center;
  padding: 0px auto 0px auto;
  text-transform: uppercase;
}
